/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Background */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    font-family: 'Anton', sans-serif;
    position:relative;

    background-image: url("./photo-1731132198530-e4b2dc51d511.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* dark overlay */
body::before{
    content:"";
    position:absolute;
    inset:0;
    background: rgba(0,0,0,0.55);
    z-index:-1;
}

.container{
    padding:20px;
}

h1{
    font-family: 'Alfa Slab One', cursive;
    font-size:48px;
    letter-spacing:2px;
    margin-bottom:25px;
}

button{
    padding:14px 35px;
    font-size:18px;
    border:none;
    border-radius:30px;
    background:#ff4d4d;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff1a1a;
    transform:scale(1.05);
}

/* Mobile */
@media (max-width:768px){
    h1{
        font-size:28px;
        line-height:1.4;
    }

    button{
        padding:12px 28px;
        font-size:16px;
    }
}
